.navbar-brand {
  font-size: 1.5rem;
}
.navbar-nav .nav-link {
  font-size: 1.1rem;
  margin-right: 1px;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color: grey; 
  border-radius: 8px;
}

.custom-button {
  background-color:white; 
}

.custom-white {
  color: #ffffff; /* White text color */
}

@media (max-width: 991.98px) {
  .navbar-nav {
    padding-top: 10px;
  }
}
  
  #outcomePage {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  
  h2 {
    padding-top:20px;
    color: #ff0000;
  }
  
  form {
    background-color: #444;
    border-radius: 8px;
    border: 1px solid #555;
    padding: 20px;
    margin-top: 20px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #555;
    box-sizing: border-box; /* Include padding and border in the element's width and height */
  }
  
  .button {
    background-color: #ff0000; /* Red background for the submit button */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right,  #fff2ab, #F5F5DC);
    color: white;
    margin: 0;
    padding: 0;
  }
  
  #mainPage {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  
  #balance {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  #transactionList div {
    background-color: #444;
    border: 1px solid #555;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .btn {
    background-color: #555;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .logo {
    width: 40px;
    height: 40px;
  }
  
  .navbar-brand {
    position: relative;
  }
  
  .custom-white {
    color: #ffffff !important;
  }
  
  .custom-white strong {
    font-weight: 700;
  }
  
  .custom-white strong::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('/image/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }