.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: white;
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: white;
}

@media (min-width: 768px) {
    .gradient-custom {
        background: white;
    }
}

.image img{
    width: 70%;
}